---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

#navbar {
	height:65px;
	position:fixed;
	top:0;
	overflow:hidden;
}

#tabbar {
	height:49px;
	position:fixed;
	bottom:0;
	overflow:hidden;
	background:url(../img/main.png) no-repeat bottom center;
	background-size: 100% auto;
	width:100%;
}

#screen>.top_cover {
	display:block;
	width:100%;
	height:65px;
	position:absolute;
	top:0;
	background:white;
}

#screen {
	position:relative;
}

#screen>.bottom_cover {
	display:block;
	width:100%;
	height:49px;
	position:absolute;
	bottom:0;
	background:white;
}

#screen>#appicon{
	position:absolute;
}


