---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

#navbar {
	height:65px;
	position:fixed;
	top:0;
	overflow:hidden;
}

#tabbar {
	height:49px;
	position:fixed;
	bottom:0;
	overflow:hidden;
	background:url(../img/main.png) no-repeat bottom center;
	background-size: 100% auto;
	width:100%;
}

#screen>.top_cover {
	display:block;
	width:100%;
	height:65px;
	position:absolute;
	top:0;
	background:white;
}

#screen {
	position:relative;
}

.bottom_cover {
	display:block;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	background:white;
}

#screen>#appicon{
	position:absolute;
	display: block;
	width: 72px;
	height: 72px;
	top: 83px;
	left: 20px;
	border-radius:16px;
	overflow:hidden;
	border:0.5px #CFCFCF solid;
}

#app_name_field{
	position: absolute;
	top: 90px;
	left: 98px;
	font-size: 14px;
	background: white;
	border: none;
	width:200px;
}

#company_name{
	position: absolute;
	top: 129px;
	left: 102px;
	color: #757575;
	font-size: 12px;
	background: white;
	min-width: 200px;
}

.screenshot{
	position:absolute;
	top:195px;
	left:120px;
}

#screen1 {
	left:24px;
}

#screen2 {
	left:190px;
}

.screenshot>img{
	width:160px;
}

#hitarea {
	width:100%;
	height:500px;
	position:absolute;
	top:0;
	left:0;
}

#page_container {
	width:100%;
	position:absolute;
	height:1545px;
	top:0;
	left:0;
	overflow:hidden;
	display:none;
}

#p2 {
	position:absolute;
	left:375px;
	width:375px;
	height:100%;
	overflow:hidden;
	background:white;
}

#hitarea2 {
	width:120px;
	height:64px;
	position:absolute;
	top:0;
	left:0;
}

#appicon_p2 {
	position:absolute;
	display: block;
	width: 100px;
	height: 100px;
	top: 78px;
	left: 14px;
	border-radius:20px;
	overflow:hidden;
	border:0.5px #CFCFCF solid;
}

.screenshot_p2{
	position:absolute;
	top:315px;
	left:120px;
}

.screenshot_p2>img{
	width:195px;
	min-width:195px;
}

#screen1_p2 {
	left:15px;
}

#screen2_p2 {
	left:224px;
}

.p2_content {
	height:1545px;
	overflow:hidden;
}

.p1_content {
	height:auto;
	overflow:scroll;
}

#p2>#section1 {
	overflow:hidden;
	position: absolute;
	top:0;
	height: 800px;
}

#p2>#section2 {
	position:absolute;
	bottom:0;
	height:640px;
	width:100%;
	background:url(../img/detail.png) no-repeat bottom center;
	background-size:100% auto;
}
